
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header__app {
  padding: 3rem 0;
}

.img-fluid {
  width: auto;
}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(14deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.profile {
  position: relative;
  height: 50%;
  width: 50%;
  border-radius: 100%;
 
  padding: 1rem;
}
.bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.divider {
  height: 4px;
  width: 20%;
  border-radius: 0.75rem;
  
}


